@import "foundation";

$breakpoints: map-merge($breakpoints, (large: 1025px));

$header-sizes: (
  small: (
    'h1': 72,
    'h2': 60,
    'h3': 46.5,
    'h4': 43,
    'h5': 40,
    'h6': 24,
  ),
  large: (
    'h1': 48,
    'h2': 40,
    'h3': 31,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
);

@include foundation-everything;
$default-symbol-size: 100px;
$default-symbol-size-small: $default-symbol-size * 1.5;

body {
    min-width: 500px;
}

#board {
    
    $outer-border-width: 2px;
    
    .row {
        height: 33%;
         
        .columns {
            border: 1px solid #2199e8;
            height: 100%;
        }
        
        .top {
            border-top-width: $outer-border-width;
        }    
        
        .left {
            border-left-width: $outer-border-width;
        }       
        
        .right {
            border-right-width: $outer-border-width;
        }

        .bottom {
            border-bottom-width: $outer-border-width;
            margin-bottom: 2%;
        }

        div {
            text-align: center;
            line-height: 200%;
            @include breakpoint(small) {
                font-size: $default-symbol-size-small;

            }
            
            @include breakpoint(large) {
                font-size: $default-symbol-size;
            }
        }   
    }
    
    
    &, div {
        $default-height: 600px;
                
        @include breakpoint(small) {
            height: $default-height * 1.5;
        }
        
        @include breakpoint(large) {
            height: $default-height;
        }
    }    
}

@mixin player-symbol-classes($name, $color, $content, $bolded: false) {
    @mixin player-symbol() {
        cursor: default;
        -ms-user-select: none;
        color: $color;
        &::after {
            content: $content;
        }
    }
    
    .#{$name} {
        @include player-symbol();
        @if $bolded {
            font-weight: bold;
        }
    }
    
    .#{$name}-hover {
        @include player-symbol();
        opacity: 0.5;
        cursor: pointer;
        @if $bolded {
            font-weight: bold;
        }
    }
}

@include player-symbol-classes("x", #8545D5, "✖");

@include player-symbol-classes("o", #ffae00, "⚪", true);

.game-over {
    background-color: #dddddd;
    opacity: 0.5;
    &.winning-square {
        background-color: #3adb76;
        opacity: .75;
        animation-duration: 3s;
        animation-name: winning-square;
    }
}

@keyframes winning-square {       
    50% {
        @include breakpoint(small) {
            font-size: $default-symbol-size-small * 1.25;

        }
        @include breakpoint(large) {
            font-size: $default-symbol-size * 1.25;
        }
    }
}

p {
    $default-font-size: 1rem;
    @include breakpoint(small) {
        font-size: $default-font-size * 2.5;
    }
    
    @include breakpoint(large) {
        font-size: $default-font-size;
    }
    color: slategray;
}

.button.large {
    @include breakpoint(small) {
        font-size: map-get($map: $button-sizes, $key: large) * 2.75;
        height: 200px;
    }
    @include breakpoint(large) {
        font-size: map-get($map: $button-sizes, $key: large);
        height: inherit;
    }
}

.reset {
    @include breakpoint(small) {
        padding-right: 5px !important;
    }
}

.lucky {
    @include breakpoint(small) {
        padding-left: 5px !important;
    }
}

.centered {
    text-align: center;
}